@import url('https://fonts.googleapis.com/css2?family=Poppins');
* {
  padding: 0;
  margin: 0;
  text-decoration: unset;
  list-style: none;
  font-family: 'Poppins' !important;
  transition: 0.5s;
  scroll-behavior: smooth;
}

body{
  background-color: #eee;
}

.wrapper{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.cardsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.card-post{
  margin: 1rem;
  width: 300px;
}

.liking{
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer{
  margin: 2rem;
  background: transparent;
}

.formContainer .ant-card-head{
  background-color: #fff;
}

.formContainer .ant-card-body{
  background-color: #fff;
}

.btn{
  width: 100% !important;
}

.clr{
  background-color: red;
}

.ant-card-cover{
  height: 200px;
}

.ant-card-cover img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.makeStyles-paper-2{
  height: 520px !important;
}

.card-post h4{
  color: #797979;
  text-transform: lowercase;
  letter-spacing: 0;
  margin-top: 1rem;
}